body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:0px;
  top:30px;
  width:1280px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u44 {
  position:absolute;
  left:30px;
  top:40px;
  width:240px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:236px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u46 {
  position:absolute;
  left:841px;
  top:54px;
  width:240px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u50 {
  position:absolute;
  left:30px;
  top:6px;
  width:291px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:287px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u52 {
  position:absolute;
  left:539px;
  top:6px;
  width:712px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:708px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u54 {
  position:absolute;
  left:300px;
  top:54px;
  width:508px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u56 {
  position:absolute;
  left:1100px;
  top:46px;
  width:150px;
  height:30px;
  font-size:12px;
}
#u57 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u59 {
  position:absolute;
  left:0px;
  top:90px;
  width:1280px;
  height:50px;
  font-size:14px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u61 {
  position:absolute;
  left:30px;
  top:106px;
  width:110px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u63 {
  position:absolute;
  left:150px;
  top:106px;
  width:110px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u65 {
  position:absolute;
  left:285px;
  top:106px;
  width:80px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  white-space:nowrap;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u67 {
  position:absolute;
  left:395px;
  top:106px;
  width:82px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u69 {
  position:absolute;
  left:505px;
  top:106px;
  width:111px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u71 {
  position:absolute;
  left:645px;
  top:106px;
  width:151px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u73 {
  position:absolute;
  left:825px;
  top:106px;
  width:101px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u75 {
  position:absolute;
  left:1240px;
  top:105px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78 {
  position:absolute;
  left:140px;
  top:200px;
  width:225px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
